<% @parts = Part.all %>
<% @parts.order!('created_at DESC')  %>

<% @impressions = Impression.all%>

 
<%= " #{@impressions.where(:controller_name => 'welcome').count} уникальных просмотров главной страницы" %>

<br>
<br>

<% @parts.each do |part| %>
   <%= part.group + " #{part.impressionist_count} просмотров" %> <br>
 <% end %>

    <div id="header">
        <%= render partial: 'parts/new.html.erb' %>
    </div>




<br>
<%for part in @parts%>
    <div id="Entry">
        <%= form_for part do |f| %>
            <p><%= image_tag part.picture.url(:thumb) %></p>
            <p><%= f.label("Тип") %></p>
            
            <p><%= f.select :group, ["Монитор", "Системник", "Дисковод", "HDD", "SSD", "БП", "SSD m.2", "RAM", "Клава", "Мать Intel", "Мать AMD", "Джойстик", "Мышь", "CPU Intel", "CPU AMD", "Руль", "VR", "GPU Nvidia", "GPU AMD", "Наушники", "Акустика", "Звуковуха", "Картридер", "Регулятор Оборотов", "Кулер"]%></p>
            <p>Название:
            <%= f.text_area :name, :rows => 1, :class => "statement" %></p>
            <p>Описание:
            <%= f.text_area :description, :rows => 3, :class => "statement" %></p>
            <p>Цена:
            <%= f.text_area :price, :rows => 1, :class => "statement" %></p>
            <p>Переадресация:
            <%= f.text_area :shop_url, :rows => 1, :class => "statement" %></p>
            <p>Изображение:
            <p><%= f.file_field :picture, html: { multipart: true } %></p>
            <%= f.submit 'Обновить' %><%= link_to part, method: :delete, class: 'delete_entry', data: {confirm: "Are you sure?"} do %>
            <button>Удалить</button>
        <% end %>
        <% end %>
        
        
    </div>
    <br>
<%end%>

<script>
      autosize($('textarea')); 
</script>